.form {
    margin: 2rem 20rem 3rem 20rem;
    box-shadow: 2px 2px 12px rgba(65, 32, 32, 0.3);
    font-weight: 500;
    color: rgb(14, 13, 13);
    background-color: rgb(205, 231, 205);
    border-radius: 30px;
    font-size:small;
}
